[user]
	email = justnow.ren@gmail
	name = renbo
[alias]
    st = status
    ci = commit -v
    rm = remote
    ca = commit -a
[push]
	default = matching
[core]
	excludesfile = ~/source/config/git/.gitignore
