[user]
	email = justnow.ren@gmail
	name = renbo
[alias]
    st = status
    ci = commit -v
    rmt = remote
    cm = commit -m
    cam = commit -a -m
    df = "! f() { rev=${1-$(git rev-parse HEAD)}; git difftool ${rev} ${@:2} ; } ; f"
    dfc = "! f() { rev=${1-$(git rev-parse HEAD)}; git difftool ${rev}^..${rev} ${@:2}; } ; f"
    br = branch
    co = checkout
    cod = "! f() { rev=${1-$(git rev-parse HEAD)}; git diff --name-only ${rev}^..${rev} |xargs -I{} git co ${rev} -- {} ; } ; f "
    ls = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n10"
    ll = "!git ls --numstat -5"
    log-df = "! f() { rev=${2-$(git rev-parse HEAD)}; git ls ${rev}~$1..${rev} ${@:2} ;}; f"
    log-diff = "! f() { rev=${2-$(git rev-parse HEAD)}; git ll ${rev}~$1..${rev} ${@:2} ;}; f"
    ld = "! git log-diff 1 "
    ld1 = "! git log-diff 2 "
    ld2 = "! git log-diff 3 "
    ld3 = "! git log-diff 4 "
    l0= "!git ll -1"
    l1= "!git ll -2"
    l2= "!git ll -3"
    l3= "!git ll -4"
    rh = reset --hard
    rs  = reset --soft
    r = reset --mixed 
    cp = cherry-pick
    cr = cherry
    
    cy = "!git ls --cherry-pick --left-right"
    cyl = "!git ls --cherry-pick --left-only"
    cyr = "!git ls --cherry-pick --right-only"
    cyvl = "!git rev-list --cherry-pick --left-only"
    cyvr = "!git rev-list --cherry-pick --right-only"
    
    mg = merge    
    cdn = clean -dn
    cdf = clean -df
[push]
	default = matching
[core]
	excludesfile = ~/source/config/git/.gitignore
[diff]
        tool = ediff
        guitool = ediff

[difftool "ediff"]
        cmd = ~/source/config/git/ediff.sh $LOCAL $REMOTE

[merge]
        tool = ediff

[mergetool "ediff"]
        cmd = ~/source/config/git/ediff.sh $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true